{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="text-center">
<h1 class="text-info"> lista de clientes</h1>
</div>
<table class="table table-head">
<thead>
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>CPF</th>
        <th>Data de criação</th>
        <th>Opções</th>
        <th></th>
    </tr>
</thead>
<tbody>
    {% for cliente in clientes %}
    <tr>
        <td>{{} cliente.nome } </td>
        <td>{{} cliente.email } </td>
        <td>{{} cliente.cpf } </td>
        <td>{{} cliente.data_criacao } </td>
        <td> <a href="#" class="btn btn-warning">Editar</a></td>
        <td> <a href="#" class="btn btn-danger">Excluir</a></td>
        
    </tr>
    {%e endfor %}
</tbody>
<h1 class="text-success">Lista de Clientes</h1>
{{ clientes }}

{% endblock content %}